<!-- Simple Application nodejs with SQLITE3 -->
<!DOCTYPE html>
<html>
   <head>
      	<title>JobFinder Other</title>
      	<link rel="stylesheet" type="text/css" href="css/estilo.css">
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
  

		<header>
			<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light>
			
				<a class="navbar-brand" href="index.html">JobFinder</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navegation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto" >
						<li class="nav-item">
							<a class="nav-link" href="index.html">Ver Vagas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-primary"  href="add.html">Abrir Vagas</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div id="top-container" class="container-fluid">
			<h1 id="main-title" class="text-center">Econtre o emprego dos seus sonhos</h1>
			<p id="main-subtitle" class="text-center">Somos o site com mais vagas de tecnologia no mercado de HomeOffice</p>
			<form id="search-form" class="form-inline" action="">
				<div class="form-group col-md-10">
					<input type="text" class="form-control" id="job" name="job" placeholder="Digite a vaga que esta buscando"/>					
				</div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>
			</form>
		</div>
		d<main>
    <div id="jobs-container" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="job-list-title">Veja as nossas vagas em destaque</h2>
          <ul id="job-list" class="list-group">
            <li class="list-group-item new-job">
              <img src="img/company.svg" alt="Company">
              <p>Empresa</p>
              <h2>Título da vaga</h2>
              <p>R$2000,00</p>
              <span class="new-job-label">Nova</span>
              <a class="btn btn-primary">Ver vaga</a>
            </li>
            <li class="list-group-item new-job">
              <img src="public/img/company.svg" alt="Company">
              <p>Empresa</p>
              <h2>Título da vaga</h2>
              <p>R$2000,00</p>
              <span class="new-job-label">Nova</span>
              <a class="btn btn-primary">Ver vaga</a>
            </li>
            <li class="list-group-item">
              <img src="public/img/company.svg" alt="Company">
              <p>Empresa</p>
              <h2>Título da vaga</h2>
              <p>R$2000,00</p>
              <a class="btn btn-primary">Ver vaga</a>
            </li>            
            <li class="list-group-item">
              <img src="public/img/company.svg" alt="Company">
              <p>Empresa</p>
              <h2>Título da vaga</h2>
              <p>R$2000,00</p>
              <a class="btn btn-primary">Ver vaga</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>
<!--Developer by Vinicius Pereira -->